@import "./../../../../style/variables.scss";

.navbar {

  .navbar-brand{
  }

  .text-link{

  }

  .pc-2{
    padding: 5px 12px;
  }



  #navbar a {
    background-color: var(--card-bg);
    color: var(--textColor);
  }






}
