<!-- <footer id="welcome-footer" class="footer mt-auto">
  <div class="py-3">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center d-md-flex align-items-center">
          <ul class="nav mx-md-auto d-flex justify-content-center">
            <li class="nav-item"> <a class="nav-link active" href="#">Home</a> </li>
            <li class="nav-item"> <a class="nav-link" href="#">About</a> </li>
            <li class="nav-item"> <a class="nav-link" href="#">Features</a> </li>
            <li class="nav-item"> <a class="nav-link" href="#">Team</a> </li>
          </ul>
          <div class="row">
            <div class="col-md-12 d-flex align-items-center justify-content-md-between justify-content-center my-2">
              <a href="#">
                <i class="d-block fa fa-facebook-official text-muted fa-lg mx-2"></i>
              </a> <a href="#">
                <i class="d-block fa fa-instagram text-muted fa-lg mx-2"></i>
              </a> <a href="#">
                <i class="d-block fa fa-twitter text-muted fa-lg ml-2"></i>
              </a> </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">
          <p class="mt-2 mb-0">© {{currentDate | date:'yyyy'}} Hermit. All rights reserved</p>
        </div>
      </div>
    </div>
  </div>
</footer> -->
<footer class="footer mt-auto py-3">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <p class="mt-2 mb-0">© {{currentDate | date:'yyyy'}} Hermit. All rights reserved</p>
      </div>
    </div>
  </div>
</footer>