<div>
  <app-navbar></app-navbar>
  <div class="container mt-5">
    <div class="mt-5">
      <div class="row">
        <div class="col col-md-5 mx-auto my-5 p-3 rounded-sm card-bg ">
          <div class="container">
            <p class="card-bg dark text-justify">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus, vel nulla rem doloribus tempore
              magni culpa mollitia consequatur itaque, dolore fuga accusantium asperiores hic illo, praesentium soluta
              nesciunt dolorum. Praesentium. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deleniti facilis
              minima commodi nihil eaque blanditiis, odio sit et consequatur numquam laudantium quia! Repudiandae magnam
              quos sit et fugit eius molestias?
            </p>
            <div class="float-right">
              <a routerLink="/login" routerLinkActive="active" class="btn btn-outline-primary">
                <span class="aligned-with-icon">Continue with Login</span>
                <mat-icon>arrow_forward_ios</mat-icon>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>