<div class="container mt-5">
  <div class="mt-5">
    <div class="row">
      <div class="col col-md-6 mx-auto my-2 p-3 rounded-sm card-bg ">
        <div class="container">
          <h1 class="mb-4 text-left">I hear the buzz</h1>
          <p class="mb-3 card-bg">
            {{errorMessage}}
          </p>
          <form [formGroup]="updateRoleForm" (ngSubmit)="onSubmitForm()">
            <div class="form-group">
              <input type="text" class="form-control rounded-sm border-0" placeholder="Name" id="name"
                formControlName="name">
            </div>
            <div class="form-group">
              <!-- <div *ngFor="let permission of permissions" class="custom-control custom-checkbox custom-control-inline">
              <input type="checkbox" class="custom-control-input">
              <label class="custom-control-label">{{permission.name}}</label>
            </div> -->
              <div *ngFor="let permission of permissions" class="custom-control custom-checkbox custom-control-inline">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input"  (change)="changeSelection(permission)"
                    id="{{permission._id}}">
                  <label class="custom-control-label" for="{{permission._id}}">{{permission.name}}</label>
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-primary rounded-lg px-4">Save</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>