<nav id="sidebar" class="bg-dark rounded-sm">
  <ul class="list-unstyled components px-3 pt-4">
    <li class="active">
      <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Auth</a>
      <ul class="collapse list-unstyled px-3" id="homeSubmenu">
        <li>
          <a routerLink="/user/list">User</a>
        </li>
        <li>
          <a routerLink="/role/list">Role</a>
        </li>
        <li>
          <a routerLink="/permission/list">Permission</a>
        </li>
      </ul>
    </li>
    <li>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </li>
    <li>
      <a role="button" routerLink="/tag/list">Tag</a>
    </li>
    <li>
      <a role="button" routerLink="/domain/list">Domain</a>
    </li>
    <li>
      <button class="btn btn-outline-primary rounded-sm" (click)="onLogout()">Logout</button>
    </li>
  </ul>
</nav>
