<nav id="sidebar" class="bg-dark rounded-sm">
  <ul class="list-unstyled components px-3 pt-4">
    <li class="active">
      <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">User</a>
      <ul class="collapse list-unstyled px-3" id="homeSubmenu">
        <li>
          <a href="#">User</a>
        </li>
        <li>
          <a href="#">Role</a>
        </li>
        <li>
          <a href="#">Privilege</a>
        </li>
      </ul>
    </li>
    <li>
      <a role="button" routerLink="/dashboard/tag">Tag</a>
    </li>
    <li>
      <a role="button" routerLink="/dashboard">Categorie</a>
    </li>
    <li>
      <a href="#folioSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pages</a>
      <ul class="collapse list-unstyled px-3" id="folioSubmenu">
        <li>
          <a href="#">Page 1</a>
        </li>
        <li>
          <a href="#">Page 2</a>
        </li>
        <li>
          <a href="#">Page 3</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="#contSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pages</a>
      <ul class="collapse list-unstyled px-3" id="contSubmenu">
        <li>
          <a href="#">Page 1</a>
        </li>
        <li>
          <a href="#">Page 2</a>
        </li>
        <li>
          <a href="#">Page 3</a>
        </li>
      </ul>
    </li>
    <!-- <li>
      <button class="btn btn-primary" (click)="onLogout()">Logout</button>
    </li> -->
  </ul>
</nav>